script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"
javascript:
  new TWTR.Widget({
    version: 2,
    type: 'search',
    search: 'CCS12BR',
    interval: 30000,
    title: 'Crowdsourcing Conference',
    subject: '#CCS12BR',
    width: 250,
    height: 250,
    theme: {
      shell: {
        background: '#c2c2c2',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#8c8c8c'
      }
    },
    features: {
      scrollbar: false,
      loop: true,
      live: true,
      behavior: 'default'
    }
  }).render().start();
