@import compass/css3

$yellow: #FFCC33

+font-face("din-medium", font-files(asset_path("DIN-Medium.ttf", 'font')), asset_path("DIN-Medium.eot", 'font'))
+font-face("din-bold", font-files(asset_path("DIN-Bold.ttf", 'font')), asset_path("DIN-Bold.eot", 'font'))
+font-face("din-light", font-files("DIN-Light.ttf", "DIN-Light.eot"))

.wrapper
  width: 960px
  margin: auto

body
  background: image-url("tile.png") 
  font-size: 62.5%
  font-family: "din-medium", arial, sans-serif
  margin-top: 100px
a
  text-decoration: none

p
  font-family: din-medium, helvetica, arial, sans-serif

h1, h2, h3, h4, h5, h6
  color: black
  text-transform: uppercase
  font-family: din-medium, helvetica, arial, sans-serif

h1
  font-size: 3em
  margin: 1.4em 0 1em 0

h2
  font-size: 1.7em
  margin: 1em 0 1.3em 1em

h3
  font-size: 1.6em
  margin: 1em 0 1.3em 0

header
  height: 10em
  background: rgba(35, 35, 35, 0.95)
  position: fixed
  top: 0
  right: 0
  left: 0
  width: 100%
  z-index: 1001

  a.logo
    display: block
    width: 240px
    height: 83px
    margin-top: 1em
    float: left
    background: image-url("logo.png") no-repeat
    h1
      visibility: hidden
  a.logo.pt-BR
    background: image-url("logo_pt-BR.png") no-repeat

  .nav
    float: right

    .languages
      text-align: right
      margin-top: 2em
      color: $yellow
      font-size: 1.2em
      a
        +opacity(0.8)
        color: $yellow
        &:hover
          +opacity(1)
      span
        padding: 10px
        padding-top: 0
        display: inline-block
        background: image-url("bg/languages-point.png") center no-repeat

    ul
      margin-top: 35px
      list-style: none
      text-transform: uppercase
      font-family: din-medium, helvetica, arial, sans-serif
      font-size: 1.5em
      li
        float: left
        margin-left: 20px
        a, span
          color: #999
          padding: 5px
          cursor: pointer
          &:hover
            color: white
            background-color: #333
        span
          padding-right: 13px
          background: image-url('arrow_down.png') center right no-repeat
        &:hover
          ul
            display: block
          span
            color: white
            background-color: #333
            background-image: image-url('arrow_up.png')
        ul
          margin-top: 15px
          width: 100%
          display: none
          padding-bottom: 10px
          li
            float: none
            margin-left: 0
            margin-bottom: 2px
            a
              color: black
              background-color: white
              font-size: 15px
              display: block
              text-transform: none
              text-align: center
              &:hover
                background-color: #444
                color: white

hr
  border-bottom: 0.05em solid #ccc
  margin-top: 10px

.clear
  clear: both
hr.sub
  margin-top: 50px

a.go_top
  float: right
  background: image-url('go_top.png') top no-repeat
  background-color: transparent !important
  display: inline-block
  width: 30px
  height: 31px
  padding: 0px !important
  &:hover
    background-position: 0 -31px

.subscriptions_wrapper
  h1
    margin-bottom: 20px
    float: left
  a.go_top
    margin-top: 45px
  .box
    background: #fff
    border: 1px solid #CCC
    padding: 20px 10px
    margin: 7px 0px
  div.subscription
    float: left
    width: 472px
  div.subscription.even
    margin-left: 16px
  a.add
    padding: 3px 0 3px 25px
    background: image-url('add.png') left center no-repeat
    font-size: 1.8em
    color: black
    float: right
  h2
    font-size: 2em
    margin: 2em 0 1.3em 0
  form
    .clear
      clear: both
      margin-bottom: 15px
      padding: 0 7px
    .float_inputs
      float: left
      width: 210px
      padding: 0 7px
      input
        width: 202px
    label
      display: block
      font-size: 18px
      margin-bottom: 7px
    input
      width: 428px
      border: 1px solid #666
      padding: 3px
      font-family: "din-medium", arial, sans-serif
      font-size: 16px
      &:focus
        background: #E0E2E0
      &.btn
        width: auto
    .sex
      input
        width: auto
      label
        display: inline-block
      label.control-label
        display: block
    select
      width: 435px
      border: 1px solid #666
      padding: 3px
      font-family: "din-medium", arial, sans-serif
      font-size: 16px
    .kind
      clear: both
      padding: 0 7px
      label
        font-family: "Lora", serif

  .summaries
    .summary
      background: #fff
      border: 1px solid #CCC
      padding: 27px 20px
      margin-bottom: 5px
      height: 17px
      div
        float: left
      .name
        font-size: 1.7em
        width: 505px
        display: block
        min-height: 10px
      .description
        font-size: 1.7em
        margin-right: 80px
        width: 100px
      .value
        font-size: 1.7em
      .remove
        float: right
        a
          padding: 3px 0 3px 25px
          background: image-url('remove.png') left center no-repeat
          font-size: 1.8em
          color: black
  .subtotal
    color: black
    font-family: din-medium, helvetica, arial, sans-serif
    font-size: 2.5em
    padding: 25px 0
    float: right
    clear: both
  .btn
    float: right
    clear: both
    background: black
    border: none
    color: white
    font-family: din-medium, helvetica, arial, sans-serif
    font-size: 2em
    padding: 15px
    text-transform: uppercase
    +box-shadow(#666 4px 4px 7px)
    +border-radius(3px)
    &:hover
      background: $yellow
      color: black
      cursor: pointer
      //+box-shadow(none)
    &:active
      margin-top: 3px

.home
  .ccs12
    width: 52%
    float: left
    .ccs_logo
      margin: 2em 0 0 0

    h1
      font-size: 18px
      text-transform: none
      margin: 15px 0 0 0

    .text
      margin-top: 3em
      p
        font-family: 'Lora', serif
        font-weight: 400
        font-style: italic
        font-size: 1.5em
        margin-bottom: 2em
        line-height: 1.3em

  .map
    float: right
    margin: 2em 0 0 0

  .infos_top
    h2
      margin-left: 0
      margin-top: 0
    .realization
      float: left
      width: 200px
      img.mutopo_logo
        margin-top: 43px
    .sponsors
      width: 630px
      float: left
      margin-left: 80px
      margin-bottom: 6em
      table
        width: 100%
        td:first-child
          width: 43%
        td:last-child
          width: 20%
      h3
        font-size: 12px
        margin-bottom: 20px

.schedule
  float: left
  width: 70%

  hr
    clear: both
    margin-top: 50px
    margin-bottom: 40px
  .days, .profiles
    
    #first_day
      clear: both
    #second_day
      clear: both
      display: none

    h1
      margin-bottom: 40px
    
    .first_tab
      margin-right: 15px
    
    a
      padding: 0.8em 1em
      cursor: pointer
      font-size: 1.5em
      text-transform: uppercase
      background-color: #ccc

      &:hover
        background-color: black
        color: white
      &:active, &.selected
        background-color: $yellow
        color: black
      &:first-child
        margin-right: 5px
    
    table
      width: 100%
      margin-top: 30px
      clear: both
      tr
        td
          padding: 10px 10px
        td
          font-size: 1.6em
        td.time
          margin-right: 50px
          width: 50px
        td.event
          line-height: 130%
      tr.odd
        background-color: white
  .box
    width: 45%
    float: left
    margin: 30px 15px 40px 0
    
    h4.name
      font-family: "din-bold", helvetica, arial, sans-serif
      font-size: 2em
      margin: 15px 0 25px

    .bio
      p
        font-family: "Lora", serif
        font-weight: 400
        font-style: italic
        font-size: 1.4em
        line-height: 130%
  #speakers
    clear: both
  #workshops
    display: none
    clear: both


.info
  width: 29%
  float: right
  background-color: white
  margin-top: 44px
  border: 1px solid #ccc

  .local
    iframe
      margin-left: 1.2em
    p.address
      margin-left: 1.2em
      font-family: 'Lora', serif
      font-weight: 400
      font-style: italic
      font-size: 1.3em
      margin-bottom: 1em
      line-height: 1.3em

  .support, .presentation, .sponsors
    text-align: center
    h2
      text-align: left
  .midia, .sponsors
    text-align: center
    img
      display: block
      margin: auto
      margin-bottom: 30px
    h2
      text-align: left
  .sponsors
    h3
      text-align: left
      margin-left: 30px
      font-size: 12px
      color: #999
      margin-bottom: 5px
  .social
    .facebook_icon
      margin-left: 1.8em
    .twitter_icon
      margin-left: 2em
  .twitter_feed
    padding-bottom: 20px
    .twtr-widget
      margin-left: 14px

.subscription, .contact
  float: left
  width: 100%

.footer
  background-color: black
  border-top: 1px solid grey
  padding-top: 30px
  h1
    font-size: 20px
    color: white
    margin: 0
    margin-top: 1em
    margin-bottom: 2em

  .what
    p
      margin: 0
      color: white
      font-family: "Lora", serif
      font-weight: 400
      font-style: italic
      font-size: 1.7em
      width: 300px
      line-height: 130%
      margin-bottom: 60px

    em.email
      font-family: "din-medium", helvetica, arial, sans-serif
      font-size: 2.5em
      color: white
  .contact
    float: left
    width: 580px
    padding-bottom: 60px
  .press
    float: right
    width: 380px

.thank_you, .moip_error
  p
    font-family: 'Lora', serif
    font-weight: 400
    font-style: italic
    font-size: 1.5em
    margin-bottom: 2em
    line-height: 1.3em

.supporters
  margin-top: 100px
  background: white
  border-top: 1px solid #ccc
  padding-bottom: 30px
  .wrapper
    padding: 10px 0
    h1
      margin: auto
      font-size:  17px
    table
      width: 100%
      tr
        td
          text-align: center
          padding-bottom: 30px
    hr
      border-bottom: 0.05em solid #ccc
      margin-bottom: 40px
    .commercialization
      float: left
      width: 200px
    .organization
      float: right
      width: 200px
      text-align:  right
    .commercialization, .organization
      h1
        margin-bottom: 20px