@import compass/css3/font-face

$yellow: #FFCC33

+font-face("din-medium", font-files(asset_path("DIN-Medium.ttf", 'font')), asset_path("DIN-Medium.eot", 'font'))
+font-face("din-bold", font-files(asset_path("DIN-Bold.ttf", 'font')), asset_path("DIN-Bold.eot", 'font'))
+font-face("din-light", font-files("DIN-Light.ttf", "DIN-Light.eot"))

.wrapper
  width: 960px
  margin: auto

body
  background: image-url("tile.png") 
  font-size: 62.5%
  font-family: "din-medium", arial, sans-serif

a
  text-decoration: none

p
  font-family: din-medium, helvetica, arial, sans-serif

h1, h2, h3, h4, h5, h6
  color: black
  text-transform: uppercase
  font-family: din-medium, helvetica, arial, sans-serif

h1
  font-size: 3em
  margin: 40px 0 20px 0

h2
  font-size: 1.7em
  margin: 10px 0 30px 10px

h3
  font-size: 1.6em
  margin: 10px 0 30px 0

h4
  font-size: 1.4em
  margin: 10px 0

header
  height: 100px
  background: #000

  a.logo
    display: block
    width: 240px
    height: 80px
    margin-top: 1em
    float: left
    background: image-url("logo.png") no-repeat

    h1
      visibility: hidden

  .nav
    float: right

    .languages
      text-align: right
      margin-top: 2em
      color: $yellow
      font-size: 1.2em
      a
        color: $yellow
      span
        padding: 10px
        padding-top: 0
        display: inline-block
        background: image-url("bg/languages-point.png") center no-repeat

    ul
      margin-top: 20px
      list-style: none
      text-transform: uppercase
      font-family: din-medium, helvetica, arial, sans-serif
      font-size: 1.5em
      li
        float: left
        padding-left: 1.5em
        a
          color: #999
          padding: 5px 
          &:hover
            color: white
            background-color: #333

hr
  border-bottom: 0.05em solid #999

.banner
  height: 740px 
  .ccs12
    width: 52%
    float: left
    .ccs_logo
      margin: 5em 0 7em 0

    p.about
      font-family: 'Lora', serif
      font-weight: 400
      font-style: italic
      font-size: 1.5em
      margin-bottom: 2em
      line-height: 1.3em

  .map
    float: right
    margin: 5em 0 4em 0

.schedule
  float: left
  width: 70%

  .days, .talks
    float: left

    h1
      margin-bottom: 40px
    
    #first_tab
      margin-right: 15px  
    
    a
      padding: 8px 10px
      cursor: pointer
      font-size: 1.5em
      text-transform: uppercase
      background-color: #ccc

      &:hover
        background-color: black
        color: white
      &:active, .selected
        background-color: $yellow
        color: black
      &:first-child
        margin-right: 5px
    
    table
      margin-top: 30px
      tr
        td
          padding: 10px 10px
        td
          font-size: 1.6em
        td.time
          margin-right: 50px
        td.event
          width: 80%
          line-height: 130%
      tr.odd
        background-color: white
  .box
    width: 45%
    float: left
    margin: 30px 15px 40px 0
    .bio
      p
        font-size: 1.3em

        

.info
  width: 29%
  float: right
  background-color: white
  margin-top: 44px
  border: 1px solid #ccc

  .local
  .support
  .midia
  .social
    .facebook_icon
      margin-left: 10px
    .twitter_icon
      margin-left: 30px
  .twitter_feed

.subscription, .contact
  float: left
  width: 100%

.contact
  background-color: black
  border-top: 1px solid grey
  h1
    color: white
    width: 30%
    margin: 0
  p.about
    margin: 0
    color: white
    font-family: "Lora", serif
    font-weight: 400
    font-style: italic
    font-size: 1.7em
    width: 30%
    line-height: 130%
    
  h4.email
    color: white
    float: right
