<!DOCTYPE html>
<html>
<head>
  <title>Ccs12</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>CCS 12</h1>
<%= yield %>

</body>
</html>
